# Laravel
.DS_Store
node_modules/
bower_components/
/vendor/
/public/hot
/public/storage
/storage/*.key

# Laravel IDE Helper
_ide_helper.php
_ide_helper_models.php

# PHPstorm
.idea/

# Custom
.env
.env.local
.env.*.local
